{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content  %}
	{% if error %}
		<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {% block stylesheet %}
		<link rel="stylesheet" href="{{  asset ( 'css/style.css' )  }}" type="text/css" />
	{% endblock %}
	<div class="login">
		<header class="login-header"><span class="text">LOGIN</span><span class="loader"></span></header>
		<form action="{{ path("fos_user_security_check") }}" method="post">
		    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

		    <input type="text" id="username" placeholder="Username" class="login-input" name="_username" value="{{ last_username }}" required="required" />

		    <input type="password" placeholder="Password" id="password" class="login-input" name="_password" required="required" />
		    
		    <input type="submit" id="_submit" class="login-btn" name="_submit" value="{{ 'security.login.submit'|trans }}" />
		</form>
	</div>

	{% block javascript %}
		<script src="{{ asset('js/bsa.js') }}"></script> 
		<script src="{{ asset('js/script.js') }}"></script> 
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript"></script>
	    <script type="text/javascript">

		</script>

	{% endblock %}

      {{ '<script type="text/javascript">loading();</script>' }}
    
{% endblock fos_user_content %}